@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<td data-td-id="@ViewBag.Id">@ViewBag.Id% <i class="bi bi-pencil-square" onclick="guardoNumero(@ViewBag.Id)" style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#descuentoModal"></i></td>
