@using Dominio
@model Huesped

<form>
    LOGIN
    <div class="mb-3">
        <label for="exampleInputEmail" class="form-label">Ingrese email </label>
        <input type="email" class="form-control" name="Email" id="exampleInputEmail" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" name="Contrasenia" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<form>
    REGISTRO
    <div class="mb-3">
        <label for="InputEmail" class="form-label">Ingrese email</label>
        <input type="email" name="Email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Email...">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="InputPass1" class="form-label">Contraseña</label>
        <input type="password" name="Contrasenia" class="form-control" id="InputPass1" placeholder="Contraseña...">
    </div>
    <div class="mb-3">
        <label for="InputNumDocumento" class="form-label">Numero de documento</label>
        <input type="text" name="NumDocumento" class="form-control" id="InputNumDocumento">
    </div>
    <select>
    </select>

    <div class="mb-3">
        <label for="InputNombre" class="form-label">Nombre</label>
        <input type="text" name="Nombre" class="form-control" id="InputNombre">
    </div>
    <div class="mb-3">
        <label for="InputApellido" class="form-label">Apellido</label>
        <input type="text" name="Apellido" class="form-control" id="InputApellido">
    </div>
    <div class="mb-3">
        <label for="InputFechaNac" class="form-label">Fecha de nacimiento</label>
        <input type="date" name="FechaNac" class="form-control" id="InputFechaNac">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>