@using Dominio


<form method="post" action="Login">
    <input type="text" name="email" placeholder="Ingrese email" />
    <input type="password" name="pass" placeholder="Ingrese contraseña" />
    <button type="submit">Login</button>
</form>